@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
}

html, body {
	height: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#wrap {
	display: flex;
	min-height: 100%;
	text-align: center;
	flex-direction: column;
}

#header {
	width: 100%;
	box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.1);
	position: fixed;
	z-index: 2;
	background-color: #fff;
}

#content {
	width: 1050px;
	margin: 0 auto;
	flex: 1;
	padding: 210px 0 100px 0;
	display: flex;
	flex-direction: column;
}

#footer {
	padding: 30px 0;
	background-color: #363636;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerContent {
	display: flex;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	background-color: #fff;
}

#logo {
	width: 200px;
}

#login {
	width: 100%;
	margin: 0;
	padding: 5px 0;
	background-color: #693FAA;
	color: #fff;
	display: flex;
	justify-content: center;
}

.user {
	width: 1000px;
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
	gap: 0 10px;
}

.user>li {
	font-size: small;
}

#line {
	margin-left: 20px;
	margin-right: 20px;
}

.menu {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 0 30px;
	align-items: center;
}

#sell {
	width: 110px;
	height: 40px;
	background-color: #693FAA;
	color: #fff;
	border-radius: 100px;
	border-style: none;
}

.item {
	width: 200px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.itemImage {
	border-radius: 5%;
	width: 100%;
	height: 200px;
}

.itemContent {
	display: flex;
	justify-content: flex-start;
	font-weight: bold;
}